 apiVersion: autoscaling/v2
 kind: HorizontalPodAutoscaler
 metadata:
   name: marketx-celery-worker-hpa
 spec:
   scaleTargetRef:
     apiVersion: apps/v1
     kind: Deployment
     name: marketx-celery-worker
   minReplicas: 1
   maxReplicas: 10
   metrics:
     - type: Resource
       resource:
         name: cpu
         target:
           type: Utilization
           averageUtilization: 75
     - type: Resource
       resource:
         name: memory
         target:
           type: Utilization
           averageUtilization: 85
