 apiVersion: v1
 kind: Service
 metadata:
   name: marketx-backend
 spec:
   selector:
     app: marketx-backend
   ports:
     - name: http
       port: 80
       targetPort: 8000
   type: ClusterIP
