apiVersion: v1
kind: ConfigMap
metadata:
  name: marketx-backend-proxy-nginx-config
  labels:
    app: marketx
    component: backend-proxy
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      location = /healthz {
        default_type text/plain;
        return 200 'ok';
      }

      location / {
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://marketx-backend;
      }
    }
