 apiVersion: apps/v1
 kind: Deployment
 metadata:
   name: marketx-celery-worker
 spec:
   replicas: 1
   selector:
     matchLabels:
       app: marketx-celery-worker
   template:
     metadata:
       labels:
         app: marketx-celery-worker
     spec:
       containers:
         - name: celery-worker
           image: marketx-backend
           imagePullPolicy: Always
           envFrom:
             - secretRef:
                 name: marketx-backend-secrets
           command: ["sh", "-c"]
           args:
             - >
               celery -A config worker
               --loglevel=INFO
               --concurrency=2
           resources:
             requests:
               cpu: 250m
               memory: 512Mi
             limits:
               cpu: 1000m
               memory: 2Gi
